flask==3.0.0
flask-cors==4.0.0
flask-limiter==3.5.0
pymysql==1.1.0
psycopg2-binary==2.9.9
cx-Oracle==8.3.0
pandas
sqlparse==0.4.4
langchain
langchain-community
langchain-experimental
langchain-google-genai
google-generativeai
gunicorn
SQLAlchemy==2.0.30
typing_extensions==4.10.0
greenlet==3.0.3
json==3.9.10
